<div class='container center-block'>
  <div id="userGraph"> </div>
</div>

<div>
  <form novalidate class= 'form-horizontal container well'>
    <br><br> Date for Entry <br>
    <input type="date" ng-model="entry.date" class='form-control'>
    <br><br>Input your Happiness!<br>

    <input type="range" ng-model="entry.happiness" class='form-control slider shor noUi-target noUi-ltr noUi-horizontal noUi-connect'>
    <br><br>

    <button ng-click="addDataPoint()">add!</button>
    <!-- <button ng-click="reset()">reset Test!</button> -->

  </form>
  <p>entry = {{entry}}</p>
</div>
