
<div>
  <form novalidate class='form-horizontal container well'>
    Username:<br>
    <input type="text" ng-model="user.username" class='form-control'><br><br>
    Password:<br>
    <input type="text" ng-model="user.password" class='form-control'>
    <br><br> Date for Entry <br>
    <input type="date" ng-model="user.date" class='form-control'>
    <br><br>Input your Happiness!<br>

    <input type="range" ng-model="user.happiness" class='form-control slider shor noUi-target noUi-ltr noUi-horizontal noUi-connect'>
    <br><br>

    <button ng-click="add()" class='btn btn-raised btn-success'>add!</button>
  </form>
</div>

